body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #13232fe6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header,
footer {
  color: #03c9a9;
}

.app-logo > a {
  color: white;
  color: #03c9a9;
  text-decoration: none;
}

section {
  min-height: calc(100vh - 134px);
}

button:disabled {
  cursor: not-allowed;
}

.app-text-primary {
  color: #03c9a9;
}

.app-btn-primary {
  background-color: #03c9a9;
  color: #fff !important;
  transition: all 0.3s;
}

.app-btn-primary:not(:disabled):hover {
  background-color: #03b094;
}

.app-btn-primary:focus {
  outline: 0;
  background-color: #03b094;
  box-shadow: unset;
}

.form-error {
  border-color: #dc3545;
}
