.auth-form {
  background: #13232fe6;
  /* padding: 36px 24px; */
  border-radius: 8px;
}

.auth-group {
  display: flex;
  margin-bottom: 28px;
  padding: 36px 24px 0;
}

.auth-group > li {
  line-height: 40px;
  flex: 1;
}

.auth-tab {
  color: #ffffff !important;
  text-align: center;
  cursor: pointer;
  background-color: #6d6e71;
  background-color: #85878e;
  transition: all 0.3s ease-in-out;
  display: block;
}

.auth-tab.active {
  background-color: #03c9a9;
}

.auth-tab:not(.active):hover {
  background-color: #03c9a9;
}

.auth-group > li:first-child > .auth-tab {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.auth-group > li:last-child > .auth-tab {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.auth-helper-text {
  font-size: 24px;
}

.auth-content {
  height: 288px;
  padding: 0 24px 36px 24px;
}

.auth-content input {
  background-color: transparent !important;
  color: #ffffff !important;
}

.auth-content input:focus {
  border-color: #03c9a9;
  box-shadow: 0 0 0 2px #03c9a94f;
}

.auth-errors {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 12px;
}
